<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-1i2r{background-color:#f8ff00;border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-y698{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-eix7{background-color:#f8ff00;border-color:inherit;text-align:center;vertical-align:top}
</style>
<table class="tg">
    <tr>
        <th nowrap class="tg-llyw">Fedearl Agency or Affiliate CA</th>
        <th nowrap class="tg-llyw">FPKIMA CA</th>
        <th nowrap class="tg-llyw">CDP Location</th>
        <th class="tg-llyw">Oct 2018</th>
        <th nowrap class="tg-llyw">12-Month Average</th>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">CertiPath Bridge CA</td>
        <th nowrap class="tg-llyw">SHA1FRCA</th>
        <th nowrap class="tg-llyw">CertiPathLLCCertiPathBridgeCA.crl</th>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">DoD Interoperability Root 1</td>
        <th nowrap class="tg-llyw">SHA1FRCA</th>
        <th nowrap class="tg-llyw">DODINTEROPERABILITYROOTCA1.crl</th>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">CertiPath Bridge CA G2</td>
        <th nowrap class="tg-llyw">FBCA</th>
        <th nowrap class="tg-llyw">CertiPathBridgeCA-G2.crl</th>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DoD Interoperability Root 2</td>
        <th nowrap class="tg-llyw">FBCA</th>
        <th nowrap class="tg-llyw">DODINTEROPERABILITYROOTCA2.crl</th>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DigiCert - Symantec Class 3 SSP Intermediate CA - G3</td>
        <th nowrap class="tg-llyw">FBCA</th>
        <th nowrap class="tg-llyw">Class3SSPCAG3.crl</th>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.99</td>
    </tr
    <tr>
        <td nowrap class="tg-0pky">Department of State AD Root CA</td>
        <td nowrap class="tg-0pky">Department of State AD Root CA</td>        
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.96</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">DigiCert - Symantec SSP G4</td>
        <td class="tg-0pky">99.68</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">99.86</td>
        <td class="tg-0pky">99.80</td>
        <td class="tg-0pky">99.89</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.93</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DigiCert - Verisign SSP G3</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">DigiCert Federated ID CA-1 CRL3</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.94</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DigiCert Federated ID CA-1 CRL4</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Entrust EMS NFI Root CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">Entrust EMS NFI Root CA 2</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Entrust EMS Root CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">Exostar Federated Identity Root CA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-1i2r">FPKI EGTSCA 2014</td>
        <td class="tg-eix7" colspan="13">All Certificates Expired</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">FPKI FBCA2013</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">FPKI FBCA2016</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">FPKI FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">FPKI SHA1FRCA G2</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">GPO PCA</td>
        <td class="tg-y698">96.81</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.89</td>
        <td class="tg-y698">98.40</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.59</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">GSA ACES - IdenTrust ACES 2</td>
        <td class="tg-0pky">99.59</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.96</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.96</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">GSA ACES - ORC ACES 4 CA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.78</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">IdenTrust IGC Root CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.22</td>
        <td class="tg-0pky">99.24</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.87</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">ORC NFI 2 CA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.76</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">ORC NFI 3 CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.76</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td class="tg-1i2r">ORC SSP 3</td>
        <td class="tg-eix7" colspan="13">CA Decommissioned</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">ORC SSP 4</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.76</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">SAFE Bridge CA 2</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">STRAC Bridge CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">99.98</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.92</td>
        <td class="tg-0pky">99.88</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">TSCP SHA-256 Bridge CA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.92</td>
        <td class="tg-y698">99.98</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.99</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">US Treasury Root CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">USPTO</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.76</td>
        <td class="tg-y698">99.95</td>
        <td class="tg-y698">99.98</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.97</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Verizon NFI CT-CSSP-CA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">Verizon SSP Betrusted CA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Verizon SSP CA 2</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
</table>
