<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-1i2r{background-color:#fdb81e;border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-llyw{background-color:#aeb0b5;border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-y698{background-color:#e4e2e0;border-color:inherit;text-align:left;vertical-align:middle}
</style>
<table class="tg">
    <tr>
        <th class="tg-llyw">Federal Agency or Affiliate CA</th>
        <td class="tg-llyw">FPKIMA CA</td>
        <td class="tg-llyw">Oct 2018</td>
        <td class="tg-llyw">Average</td>
    </tr>
    <tr>
        <td class="tg-1i2r">eGovernance Trust Services CA-2014</td>
        <td class="tg-1i2r">EGTSCA</td>
        <td class="tg-1i2r" colspan="2">All Certificates Expired</td>
    </tr>
    <tr>
        <td class="tg-0pky">CertiPath Bridge CA - G2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">CT-CSSP-CA-A1</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">DigiCert Federated ID CA-1</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">DoD Interoperability Root CA 2</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Entrust Managed Services NFI Root CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">Entrust Managed Services NFI Root CA 2</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Exostar Federated Identity Service Root CA 2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td class="tg-y698">Federal Bridge CA 2013</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Federal Bridge CA 2016</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">GPO PCA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.59</td>
    </tr>
    <tr>
        <td class="tg-0pky">IdenTrust ACES 2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.96</td>
    </tr>
    <tr>
        <td class="tg-y698">IdenTrust Global Common Root CA 1</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.87</td>
    </tr>
    <tr>
        <td class="tg-0pky">ORC ACES 4 CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td class="tg-y698">ORC NFI 2 CA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
    </tr>
    <tr>
        <td class="tg-0pky">ORC NFI 3 CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td class="tg-y698">SAFE Bridge CA 02</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">STRAC Bridge Root Certification Authority</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td class="tg-y698">Symantec Class 3 SSP Intermediate CA - G3</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.99</td>
    </tr>
    <tr>
        <td class="tg-0pky">TSCP SHA256 Bridge CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td class="tg-y698">USPTO_INTR_CA1</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.97</td>
    </tr>
    <tr>
        <td class="tg-0pky">Betrusted Production SSP CA A1</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
        <td class="tg-y698">Entrust Managed Services Root CA</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Federal Common Policy CA</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-1i2r">ORC SSP 3</td>
        <td class="tg-1i2r">FCPCA</td>
        <td class="tg-1i2r" colspan="2">Decommissioned</td>
    </tr>
    <tr>
        <td class="tg-0pky">ORC SSP 4</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td class="tg-y698">Symantec SSP Intermediate CA - G4</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.93</td>
    </tr>
    <tr>
        <td class="tg-0pky">U.S. Department of State AD Root CA</td>
        <td class="tg-0pky">FCPCA</td>        
        <td class="tg-0pky">99.96</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td class="tg-y698">US Treasury Root CA</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">Verisign SSP Intermediate CA - G3</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">Verizon SSP CA A2</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">CertiPath Bridge CA</td>
        <td class="tg-0pky">SHA1FRCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-y698">DoD Interoperability Root CA 1</td>
        <td class="tg-y698">SHA1FRCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td class="tg-0pky">SHA-1 Federal Root CA G2</td>
        <td class="tg-0pky">SHA1FRCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
</table>
