<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:1px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-1i2r{background-color:#fdb81e;border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-llyw{background-color:#aeb0b5;border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-y698{background-color:#e4e2e0;border-color:inherit;text-align:left;vertical-align:middle}
</style>
<table class="tg">
    <tr>
        <th nowrap class="tg-llyw">Federal Agency or Affiliate CA</th>
        <th nowrap class="tg-llyw">FPKIMA CA</th>
        <td class="tg-llyw">Oct 2018</th>
        <td class="tg-llyw">1-Year Average</th>
    </tr>
    <tr>
        <td class="tg-1i2r">FPKI EGTSCA 2014</td>
        <td class="tg-1i2r">EGTSCA</td>
        <td class="tg-1i2r" colspan="13">All Certificates Expired</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">CertiPath Bridge CA G2</td>
        <td class="tg-0pky">FBCA</th>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">DigiCert - Symantec Class 3 SSP Intermediate CA - G3</td>
        <td class="tg-0pky">FBCA</th>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DigiCert Federated ID CA-1</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DoD Interoperability Root 2</td>
        <td class="tg-y698">FBCA</th>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Entrust EMS NFI Root CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">Entrust EMS NFI Root CA 2</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Exostar Federated Identity Root CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">FPKI FBCA2013</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">FPKI FBCA2016</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">GPO PCA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.59</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">GSA ACES - IdenTrust ACES 2</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.96</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">GSA ACES - ORC ACES 4 CA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">IdenTrust IGC Root CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.87</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">ORC NFI 2 CA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">ORC NFI 3 CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">SAFE Bridge CA 2</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">STRAC Bridge CA</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">TSCP SHA-256 Bridge CA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.99</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">USPTO</td>
        <td class="tg-0pky">FBCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.97</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">Verizon NFI CT-CSSP-CA</td>
        <td class="tg-y698">FBCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
    <tr>
        <td nowrap class="tg-0pky">Department of State AD Root CA</td>
        <td class="tg-0pky">FCPCA</td>        
        <td class="tg-0pky">99.96</td>
        <td class="tg-0pky">99.99</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">DigiCert - Symantec SSP G4</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">99.93</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">DigiCert - Verisign SSP G3</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
        <td nowrap class="tg-y698">Entrust EMS Root CA</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">FPKI FCPCA</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td class="tg-1i2r">ORC SSP 3</td>
        <td class="tg-1i2r">FCPCA</td>
        <td class="tg-1i2r" colspan="2">CA Decommissioned</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">ORC SSP 4</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">99.98</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">US Treasury Root CA</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">Verizon SSP Betrusted CA</td>
        <td class="tg-0pky">FCPCA</td>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">Verizon SSP CA 2</td>
        <td class="tg-y698">FCPCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">CertiPath Bridge CA</td>
        <td class="tg-y698">SHA1FRCA</th>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-0pky">DoD Interoperability Root 1</td>
        <td class="tg-0pky">SHA1FRCA</th>
        <td class="tg-0pky">100</td>
        <td class="tg-0pky">100</td>
    </tr>
    <tr>
        <td nowrap class="tg-y698">FPKI SHA1FRCA G2</td>
        <td class="tg-y698">SHA1FRCA</td>
        <td class="tg-y698">100</td>
        <td class="tg-y698">100</td>
    </tr>
</table>
