/* Projects section styles */

.notifications {
  h2 {
    margin: 0.3em 0;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .notification {
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #ddd;
    @media only screen and (min-width: $nav-breakpoint) {
      border: none;
    }
  }

  .notification-element {
    margin-top: 0.5em;
  }
}
