---
title: Notifications
permalink: /notifications/
layout: default
---

<div class="notifications">
  {% for notification in site.data.notifications %}
    {% assign loopstatus = forloop.index | modulo: 3 %}
    {% if loopstatus == 1 %}<div class="usa-grid">{% endif %}
    <div class="notification usa-width-one-third">
      {% if notification.notice_date %}
        <div class="notification-element notification-notice_date">
          Notice date: {{ notification.notice_date }}
        </div>
      {% endif %}
      {% if notification.change_type %}
        <div class="notification-element notification-change_type">
          Change type: {{ notification.change_type }}
        </div>
      {% endif %}
      {% if notification.start_date_time %}
        <div class="notification-element notification-start_date_time">
          Start Date and Time: {{ notification.start_date_time }}
        </div>
      {% endif %}
      {% if notification.end_date_time %}
        <div class="notification-element notification-end_date_time">
          End Date and Time: {{ notification.end_date_time }}
        </div>
      {% endif %}
      {% if notification.system %}
        <div class="notification-element notification-system">
          System: {{ notification.system }}
        </div>
      {% endif %}
      {% if notification.change_description %}
        <div class="notification-element notification-change_description">
          Change Description: {{ notification.change_description }}
        </div>
      {% endif %}
      {% if notification.impact %}
        <div class="notification-element notification-impact">
          Impact: {{ notification.impact }}
        </div>
      {% endif %}
      {% if notification.contact %}
        <div class="notification-element notification-contact">
          Contact: {{ notification.contact }}
        </div>
      {% endif %}
    </div>
    {% if loopstatus == 0 %}
      </div>
    {% elsif forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
